{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <style>
        .e:hover{
             background-color:#FF6666;
             color: white;
        }
    </style>

{% endblock %}

{% block content %}
     <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-adn"></i>Program</div>
        </div>
        <div class="portlet-body" >
            <div class="row">
                <div class="col-md-12 col-xs-12" style="margin-bottom: 20px">
                    <div class="col-md-4 col-xs-6 col-md-offset-4 col-xs-offset-3" style="border: 1px solid #e02222;padding: 0px">
                          <div class="btn col-md-6 col-xs-6 active" style="background: #e02222;color: white;font-weight: bold" onclick="location.href='';">Graph View</div>
                          <div class="btn e col-md-6 col-xs-6" style="font-weight: bold;" onclick="location.href='/ifcmodule/dashboard/program/table';" >Table View</div>
                    </div>
                 </div>


                <div class="col-md-12 col-xs-12">
                     <div class="col-md-5 col-xs-5" style="margin-top: 20px;" >
                        <div class="card" style="height: auto;  margin: 5px">
                          <div class="card-body">
                            <div id="container_1" style="min-width: 210px; height: 300px; max-width: 600px; margin: 0 auto;"></div>

                          </div>
                        </div>
                     </div>
                     <div class="col-md-5 col-xs-5" style="margin-top: 20px; margin-right: 20px; float: right">
                        <form class="" method="POST">
                            {% csrf_token %}
                                {% if super_user == 1%}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Organization Name</label>
                                        <select name="graph_org_id" id="graph_org_id" class="form-control userlist">
                                            <option value="%">Select an organization</option>
                                            {% for item in org_list %}
                                                    <option value="{{ item.id }}">{{ item.organization }}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {%endif%}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Program Name</label>
                                        <select name="graph_prog_id" id="graph_prog_id" class="form-control userlist">
                                            <option value="%">All</option>
                                                {% for item in program_list %}
                                                    <option value="{{ item.id }}" {% if item.id == graph_program_id %} selected {% endif %}> {{ item.program_name }}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <label class="control-label">From</label>
                                    <div class="input-group date form-group" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
                                        <input type="text" id="start_date" name="start_date" class="form-control" value="{{start_date}}"  readonly>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">To</label>
                                    <div class="input-group date form-group" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
                                        <input type="text" id="end_date" name="end_date" value="{{end_date}}" class="form-control" readonly>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button style="margin-top:25px;" type="submit" class="btn red" id="default_search">Filter</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <a style="margin-top:25px;" class="btn blue pull-right hidden-print" onclick="javascript:window.print();">Print <i class="fa fa-print"></i></a>
                                    </div>
                                </div>

                            </form>
                     </div>

                </div>


                <div class="col-md-12 col-xs-12">
                    <div class="col-md-5 col-xs-5" style="margin-top: 20px;" >
                        <div class="card" style="height: auto;  margin: 5px">
                          <div class="card-body">
                            <div id="container_2" style="min-width: 210px; height: 300px; max-width: 600px; margin: 0 auto;"></div>

                          </div>
                        </div>
                     </div>
                     <div class="col-md-5 col-xs-5" style="margin-top: 20px; margin-right: 20px; float: right" >
                        <div class="card" style="height: auto;  margin: 5px">
                          <div class="card-body">
                            <div id="container_3" style="min-width: 210px; height: 300px; max-width: 600px; margin: 0 auto;"></div>

                          </div>
                        </div>
                     </div>
                </div>


        </div>
     </div>

{% endblock %}


{% block additional-javascript %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var farmer_data = {{farmer_data|safe}};
            var acre_data = {{acre_data|safe}};
            var crop_data = {{crop_data|safe}};
            var categories = {{categories|safe}}

            var myChart = Highcharts.chart('container_1', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Farmer(Number)'
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    title: {
                        text: 'No. of Farmer'
                    }
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Farmer',
                    colorByPoint: true,
                    data: farmer_data
                }]
            });

            var myChart1 = Highcharts.chart('container_2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Acreage(Decimal)'
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    title: {
                        text: 'Total Acreage'
                    }
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Acreage',
                    colorByPoint: true,
                    data: acre_data
                }]
            });

            var myChart2 = Highcharts.chart('container_3', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'No of Crop'
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    title: {
                        text: 'Total Crop'
                    }
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Crop',
                    colorByPoint: true,
                    data: crop_data
                }]
            });
        });

        $(function () {
            $('#start_date').datepicker({
                format: "yyyy-mm-dd",
            });
            $('#end_date').datepicker({
                format: "yyyy-mm-dd",

            });
        });
    </script>

{% endblock %}