{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css" media="all"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/semantic.min.css" media="all"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" media="all"/>

    <style>
        .e:hover{
             background-color:#FF6666;
             color: white;
        }
    </style>

{% endblock %}

{% block content %}
     <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-adn"></i>SMS</div>
        </div>
        <div class="portlet-body" >
            <div class="row">
                <div class="col-md-12 col-xs-12" style="margin-bottom: 20px">
                    <div class="col-md-4 col-xs-6 col-md-offset-4 col-xs-offset-3" style="border: 1px solid #e02222;padding: 0px">
                          <div class="btn e col-md-6 col-xs-6 " style="font-weight: bold;" onclick="location.href='/ifcmodule/dashboard/sms/map';">Map View</div>
                          <div class="btn  col-md-6 col-xs-6 active" style="background: #e02222;color: white;font-weight: bold"  onclick="location.href='';" >Bar Chart</div>
                    </div>
                 </div>


                <form class="" method="POST">
                {% csrf_token %}

                <div class="col-md-12">
                    <div class="col-md-3 col-md-offset-3">
                        <label>From Date: </label>
                        <div class="input-group date form-group" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
                            <input type="text" id="start_date" name="start_date" class="form-control" value="{{start_date}}"  readonly>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>To Date: </label>
                        <div class="input-group date form-group" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
                            <input type="text" id="end_date" name="end_date" class="form-control" value="{{end_date}}" readonly>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom: 20px">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label >Country:</label>
                            <select type="select" name="country_id" id="country_id" class="form-control" onclick="load_division(this,0)" required>
                                <option value="%">Select One</option>
                                <option value="1">Bangladesh</option>
                            </select>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="form-group">
                            <label>Division: </label>
                            <select class="form-control" data-division = "{{division}}" name="division" id="division" onclick="load_district(this,0)">
                                <option value="%">Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>District: </label>
                            <select class="form-control" name="district" id="district" onclick="load_upazilla(this,0)">
                                <option value="%">Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Upazilla: </label>
                            <select class="form-control" name="upazilla" id="upazilla">
                                <option value="%">Select One</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Crop:</label>
                            <select class="form-control" name="crop" id="crop" onclick="load_variety(this)">
                                <option value="%">Select One</option>
                                {% for crop_id,crop_name in crop_list %}
                                    <option value="{{ crop_id }}">{{ crop_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Variety of the Crop: </label>
                            <select class="form-control" name="crop_variety" id="crop_variety" required>
                                <option value="%">Select One</option>

                            </select>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Season: </label>
                            <select class="form-control" name="season" id="season" required>
                                <option value="%">Select One</option>
                                {% for x,y in season %}
                                    <option value="{{ x }}" {% if x == season_id_for_template %} selected {% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Advisory Type: </label>
                            <select class="form-control" name="advisory_type" id="advisory_type" required>
                                <option value="%">Select One</option>
                                <option value="management" {% if advisory_id_for_template == 1 %} selected {% endif %}>Management</option>
                                <option value="promotional" {% if advisory_id_for_template == 2 %} selected {% endif %}>Promotional</option>
                                <option value="weather" {% if advisory_id_for_template == 3 %} selected {% endif %}>Weather</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>SMS Range: </label>
                            <select class="form-control" name="sms_range" id="sms_range" required>
                                <option value="%">Select One</option>
                                <option value="1">1-5</option>
                                <option value="2">6-10</option>
                                <option value="3">11-15</option>
                                <option value="4">16-20</option>
                                <option value="5">20+</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <button style="margin-top:25px;" type="submit" class="btn red" id="default_search">Filter</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <a style="margin-top:25px;" class="btn blue pull-right hidden-print" onclick="javascript:window.print();">Print <i class="fa fa-print"></i></a>
                        </div>
                    </div>


                </div>
                </form>
                <div class="col-md-12" style="margin-top: 50px; margin-bottom: 20px">
                    <div class="card" style="height: auto;  margin: 5px">
                        <div class="card-body">
                            <div id="container_1" style="max-width: 600px; margin: 0 auto;"></div>

                        </div>
                    </div>
                </div>

             </div>
            <input type="hidden" id="data-country" value="{{country}}">
            <input type="hidden" id="data-division" value="{{division}}">
            <input type="hidden" id="data-district" value="{{district}}">
            <input type="hidden" id="data-upazilla" value="{{upazilla}}">

        </div>
     </div>

{% endblock %}


{% block additional-javascript %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bd_admin_3.js"></script>


    <script type="text/javascript">

        $(document).on("change", "#district_id", function () {
            district = $(this).val()

            $.ajax({
                type: 'POST',
                url: '/maxmodule/cais_module/getUpazilas/',
                data: {

                    'district': district,
                },
                success: function (data) {
                    list = JSON.parse(data)

                    $('#upazila_id').find('option').remove()
                    $('#upazila_id').append('<option value="">Select Any </option>')
                    for (var i = 0; i < list.upazila_List.length; i++) {
                        $('#upazila_id').append('<option value = ' + list.upazila_List[i][0] + '>' + list.upazila_List[i][1] + '</option>')
                    }
                }

            });

            //reDataTable()
        });

        function checkSelect(id,selectValue){
            if (id == selectValue) return "selected";
            else return 1 ;
        }

        function load_division(object,selectValue) {
            obj = parseInt(object.value);

            if (isNaN(parseFloat(obj))) {
                $('#division').html("<option value=\"%\">Select One</option>");
                $('#district').html("<option value=\"%\">Select One</option>");
                $('#upazilla').html("<option value=\"%\">Select One</option>");
                $('#union').html("<option value=\"%\">Select One</option>");
            }
            else {

                $.ajax({
                    url: '/ifcmodule/getDivisions/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'obj': obj},

                    success: function (result) {
                        var html_code = "<option value=\"%\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\""+ checkSelect(result[i].id,selectValue) +" > " + result[i].field_name + "</option>";
                        }
                        $('#division').html(html_code);
                         $('#district').html("<option value=\"%\">Select One</option>");
                $('#upazilla').html("<option value=\"%\">Select One</option>");
                $('#union').html("<option value=\"%\">Select One</option>");


                    }
                });
            }

        }

        function load_district(object,selectValue) {
            obj = parseInt(object.value);
            if (isNaN(parseFloat(obj))) {

                $('#district').html("<option value=\"%\">Select One</option>");
                $('#upazilla').html("<option value=\"%\">Select One</option>");
                $('#union').html("<option value=\"%\">Select One</option>");
            }
            else {

                $.ajax({
                    url: '/ifcmodule/getDistricts/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'obj': obj},
                    {#                    beforeSend: function () {#}
                    {#                        $("#all_info_table").html('<div class="alert alert-success">Please Wait...loading....</div>');#}
                    {#                    },#}
                    success: function (result) {
                        var html_code = "<option value=\"%\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\""+ checkSelect(result[i].id,selectValue) +" > " + result[i].field_name + "</option>";
                        }
                        $('#district').html(html_code);
                        $('#upazilla').html("<option value=\"%\">Select One</option>");
                $('#union').html("<option value=\"%\">Select One</option>");


                    }
                });
            }

        }

        function load_upazilla(object,selectValue) {
            obj = parseInt(object.value);
            if (isNaN(parseFloat(obj))) {
                $('#upazilla').html("<option value=\"%\">Select One</option>");
                $('#union').html("<option value=\"%\">Select One</option>");
            }
            else {

                $.ajax({
                    url: '/ifcmodule/getUpazillas/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'obj': obj},
                    {#                    beforeSend: function () {#}
                    {#                        $("#all_info_table").html('<div class="alert alert-success">Please Wait...loading....</div>');#}
                    {#                    },#}
                    success: function (result) {
                        var html_code = "<option value=\"%\">Select One</option>";

                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\""+ checkSelect(result[i].id,selectValue) +"> " + result[i].field_name + "</option>";
                        }
                        $('#upazilla').html(html_code);
                        $('#union').html("<option value=\"%\">Select One</option>");


                    }
                });
            }

        }

        function load_variety(object) {
            obj = parseInt(object.value);
            if (isNaN(parseFloat(obj))) {
                $('#crop_variety').html("<option value=\"%\">Select One</option>");
                $('#crop_stage').html("<option value=\"%\">Select One</option>");
            }

            else {

                $.ajax({
                    url: '/ifcmodule/getVariety/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'obj': obj},

                    success: function (result) {

                        var html_code = "<option value=\"%\">Select One</option>";
                        for (i = 0; i < result.length; i++) {
                            html_code += "<option value=\"" + result[i].id + "\"> " + result[i].variety_name + "</option>";
                        }
                        $('#crop_variety').html(html_code);
                    }
                });
            }

        }

        $(document).ready(function(){
             bar_data = {{bar_data|safe}}
             drilldown_data = {{drilldown_data | safe}}
             console.log(drilldown_data);
             dashboardBarChart('container_1', 'Total SMS Sent', bar_data, drilldown_data);

             country_id = document.getElementById("data-country").value;
             division_id = document.getElementById("data-division").value;
             district_id = document.getElementById("data-district").value;
             upazilla_id = document.getElementById("data-upazilla").value;

             if (country_id != '%'){
                 $("#country_id").val(country_id);
                 if(division_id != '%'){
                     var obj = {value:country_id};
                     load_division(obj,division_id);

                     if(district_id != '%'){
                         var obj = {value:division_id};
                         load_district(obj,district_id);

                         if(district_id != '%'){
                             var obj = {value:district_id};
                             load_upazilla(obj,upazilla_id);
                        }
                     }

                 }

             }

        });

        function dashboardBarChart(div, title, data , drilldown_data) {
           Highcharts.chart(div, {
              chart: {
                  type: 'column'
              },
              title: {
                  text: title
              },
              xAxis: {
                  type: 'category'
              },
              series: [{
                  name: 'Sent SMS',
                  colorByPoint: true,
                  data: data
                }],
              plotOptions: {
                    column: {
                      groupPadding: 0,
                      pointPadding: 0,
                      dataLabels: {
                        enabled: true,
                      }
                    }
                  },
              drilldown: {
                    series: drilldown_data
                }
            });
       }

    </script>

{% endblock %}